<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <div class="box">
        <h2>
            <br>
            <br>
            <center>Login to Account</center>
        </h2>
    </div>
</body>

<div class="box">
    <h2></h2>
    <form action="/status" method="post">
        <center>
            <div class="input-box">
                <br>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div><br>
            <div class="input-box">
                <label for="password"> Password : </label>
                <input type="password" id="password" name="password">
            </div><br>
            <input type="submit" value="Submit">
        </center>
    </form>
</div>

</html>